.start2{
  opacity: 0;
}

.end2{
  opacity: 1;
  /* transition 속성 (속성명 시간단위)
      : 해당 CSS 선택자의 지정된 속성이 이전에 적용된 스타일과 다를경우? 일정시간동안 바꾸는 효과를 주라는 속성 */
  transition: opacity 0.5s;
}

.start3{
  transform: scale(0);
}

.end3{
  transform: scale(1);
  /* transition 속성 (속성명 시간단위)
      : 해당 CSS 선택자의 지정된 속성이 이전에 적용된 스타일과 다를경우? 일정시간동안 바꾸는 효과를 주라는 속성 */
  transition: all  0.5s;
}

.main-bg{
  height: 400px;
  background-image: url('./img/image2.jpg');
  background-size: 100% 100%;
  background-position: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
